[submodule "external/WindowsAPICodePack"]
	path = external/WindowsAPICodePack
	url = git@github.com:SunburstApps/WindowsAPICodePack
[submodule "external/AppxPackaging"]
	path = external/AppxPackaging
	url = git@github.com:SunburstApps/AppxPackaging
[submodule "external/vs-mef"]
	path = external/vs-mef
	url = git@github.com:Microsoft/vs-mef
